<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
     Pizzapp Giudicelli
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart>
      <div class="cart-length">{{ cartItemCount | async }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card *ngFor="let pizza of mypizza">
    <ion-card-content>
      <ion-card-title>
        {{pizza.name}}
      </ion-card-title>
      <span style="float: right; color: blue">{{pizza.price}}€</span>
      <button ion-button (click)="addToCart(pizza)" icon-end>
        Commander
        <ion-icon name="pizza"></ion-icon>
      </button>
    </ion-card-content>
    <img src="{{pizza.picture}}"/>
  </ion-card>
</ion-content>